{% extends 'app/base.html' %}
{% load static %}

{% block title %} Reset Done {% endblock title %}

{% block main-content %}
<br>
<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card border-0 shadow-lg p-5 text-center"
                 style="border-radius:25px; background:linear-gradient(to bottom,#fff8fc,#ffffff);">

                <h2 class="fw-bold mb-4" style="color:#b26fcf;">
                    Well Done! ✨
                </h2>

                <hr class="mb-5">

                <img src="https://cdn-icons-png.flaticon.com/512/5610/5610944.png"
                    width="140" class="img-fluid mx-auto mb-4" alt="Email Sent">
                <p class="fs-5 text-dark">
                    An email has been sent with instructions to reset your password.
                </p>
                <p class="fw-bold fs-5"style="color:#ff7eb6;">Please check your Email 💌
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}