{% extends 'app/base.html' %}
{% load static %}

{% block title %} Reset Password Completed {% endblock title %}

{% block main-content %}

<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="shadow p-5 bg-white text-center rounded-4">
                <h2 class="fw-bold mb-4" style="color:#b26fcf;">
                    Reset Password Completed 🎉
                </h2>
                <hr class="mb-5">
                <img src="https://cdn-icons-png.flaticon.com/512/5610/5610944.png"
                    alt="Success" width="140" class="img-fluid mb-4">

                <h4 class="fw-semibold mb-3" style="color:#ba80d5;">
                    Password Reset Successful!
                </h4>

                <p class="text-muted mb-4">
                    Your password has been updated successfully. <br>
                    You can now login with your new password.
                </p>

                <a href="{% url 'login' %}" class="btn text-white px-4 py-2 fw-semibold"
                   style="background: linear-gradient(135deg,#ff7eb6,#ba80d5); border-radius: 14px; box-shadow: 0 4px 12px rgba(186,128,213,0.35);">
                   Login Now</a>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}