{% extends 'app/base.html' %}
{% load static %}

{% block title %} Password Confirm {% endblock title %}

{% block main-content %}
<br>
<div class="container">
    <div class="row justify-content-center my-5">

        <div class="col-md-7 col-lg-6">

            <div class="card border-0 shadow-lg p-5"
                 style="border-radius:25px; background:linear-gradient(to bottom,#fff8fc,#ffffff);">

                <h2 class="text-center fw-bold mb-4"
                    style="color:#b26ad6; font-family: Georgia, serif; font-size:38px;">
                    Reset Password 🔐
                </h2>

                <hr class="mb-5">

                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                        <div class="mb-4">
                            <label class="form-label fw-semibold fs-6">
                                {{ fm.label }}
                            </label>
                            {{ fm }}
                            <small class="text-danger">
                                {{ fm.errors|striptags }}
                            </small>
                        </div>
                    {% endfor %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    <div class="d-grid mt-4">
                        <input type="submit" value="Update Password"
                            class="btn text-white fw-bold py-3 border-0"
                            style="background:linear-gradient(90deg,#ff6fb5,#b26ad6); border-radius:14px; font-size:20px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}