<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>

  <body style="font-family: Arial, sans-serif; background-color: #f5f5f5; padding: 40px;">
    <div style="max-width: 500px; margin: auto; background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);">
      <!-- HEADER -->
      <div style=" background: linear-gradient(90deg, #ff6fb5, #b26ad6); padding: 25px;text-align: center;">
        <h1 style="color: white; margin: 0; font-size: 28px">BUBBLI 💜</h1>
      </div>

      <!-- BODY -->
      <div style="padding: 35px">
        <p style="color: #444; font-size: 16px; margin-bottom: 20px">
          Hi {{ user.username }},
        </p>

        <p style="color: #666; line-height: 1.7; font-size: 15px">
          We received a request to reset your password for your BUBBLI account.
        </p>

        <p style="color: #666; line-height: 1.7; font-size: 15px">
          Click the button below to create a new password.
        </p>

        <div style="text-align: center; margin: 35px 0">
          <a
            href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
            style="display: inline-block; padding: 14px 30px; background: linear-gradient(90deg, #ff6fb5, #b26ad6); color: white;
              text-decoration: none; border-radius: 8px; font-weight: bold;">Reset Password</a>
        </div>

        <p style="color: #888; font-size: 14px; line-height: 1.6">
          If you didn’t request this password reset, you can safely ignore this
          email.
        </p>

        <br />

        <p style="color: #555; font-size: 15px; line-height: 1.6">
          Thank you,<br />
          <strong>BUBBLI Team 💜</strong>
        </p>
      </div>
    </div>
  </body>
</html>
